<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS_Ex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>xcySTL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B1D39A4187873D1009E579B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1D39C8187873D2009E579B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD01DC8187AFA2900727908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD01DD5187AFA2900727908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD01DEE187AFAFC00727908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD01DFB187AFAFC00727908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
